html {
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.5));
}

.NewOrderPage {
    height: 98vh;
    display: grid;
    grid-template-columns: 1.6fr 3.5fr 3fr;
    grid-template-rows: 1fr;
    /*background-color: var(--white);*/
    border-radius: 2vmin;
  }
  
  .NewOrderPage aside {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3vmin 2vmin;
  }

  .link {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: lightblue;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: #8c1225;
      font-weight: bolder;
    }
  }
