.OrderDetail {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3vmin;
    font-size: 2vmin;
    color: var(--text-light);
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 80vh;
    width: 80%;
  }
  
  .OrderDetail .sectionHeading {
    width: 100%;
    border-bottom: 5px solid black;
    border-radius: 3px;

    .orderDate {
      color: lightblue;
      font-weight: bolder;
    }
  }
  
  .OrderDetail .lineItemContainer {
    margin-top: 3vmin;
    justify-content: flex-start;
    height: calc(100vh - 18vmin);
    width: 100%;
  }
  
  .OrderDetail .total {
    width: 100%;
    display: grid;
    grid-template-columns: 18.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: var(--text-light);
    border-top: .1vmin solid var(--tan-3);
  }
  
  .OrderDetail .total span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: var(--text-dark);
  }
  
  .OrderDetail .total span.right {
    display: flex;
    justify-content: flex-end;
  }
  
  .OrderDetail .hungry {
    position: absolute;
    top: 50vh;
    font-size: 2vmin;
  }

  .btnSm {
    background-color: lightblue;
    color: white;
    padding: 0.6vmin 1vmin;
    font-size: 1.15vmin;
    width: auto;
    height: auto; 
    min-width: 90px; 
    min-height: 30px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bolder;

    &:hover {
      background-color: white;
      color: lightblue;
    }
  }

  .limegreen{
    font-weight: bolder;
    color: limegreen !important;
  }
  