.MenuListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: var(--white);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    font-size: 4vmin;
  }
  
  .MenuListItem .emoji {
    height: 8vw;
    width: 8vw;
    font-size: 4vw;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
  }
  
  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
  }
  
  .MenuListItem .buy span {
    font-size: 1.7vw;
    text-align: center;
    color: var(--text-light);
  }
  
  .MenuListItem .name {
    font-size: 2vw;
    text-align: center;
    color: var(--text-light);
  }

  .btnSm {
    background-color: lightblue;
    color: white;
    padding: 0.6vmin 1vmin;
    font-size: 1.25vmin;
    width: auto;
    height: auto; 
    min-width: 90px; 
    min-height: 30px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: white;
      color: lightblue;
    }
  }
  