.CategoryList {
    color: var(--text-light);
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
  }
  
  .CategoryList li {
    padding: 0.6vmin;
    text-align: center;
    margin-bottom: 0.5vmin;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    background-color: lightblue;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*w3 schools */
  }
  
  .CategoryList li:hover:not(.active) {
    background-color: var(--orange);
    color: var(--white);
    transform: translateY(-2px); /*Lift visualization*/
    background-color: red;
    font-weight: bolder;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .CategoryList li.active {
    color: var(--text-dark);
    background-color: var(--tan-1);
    border: 0.1vmin solid var(--tan-3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  